<%=form_with model:@article, local:true do |form| %>
  <%if @article.errors.any? %>
    <div id="save_error">
      <h2><%=pluralize(@article.erros.count,"error")%> prohibited this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_message.each do |msg| %>
          <li><%=msg %></li>
        <%end%>
      </ul>
    </div>
  <%end%>
  <p><%=form.label :title %><br><%=form.text_field :title %></p>
  <p><%=form.label :category %><br>
     <%=form.radio_button :category, "Food", :checked => true %>Food
     <%=form.radio_button :category, "Animals" %>Animals
     <%=form.radio_button :category, "Football" %>Football
     <%=form.radio_button :category, "News" %>News
     <%=form.radio_button :category, "Tech" %>Tech
     <%=form.radio_button :category, "Other" %>Other
  </p>
  <p><%=form.label :text %><br><%=form.text_area :text %></p>
  <p><%=form.label :author %><br><%=form.text_field :author %></p>
  <p><%=form.submit %></p>
<%end%>

